.hero__contents {
    margin-top: .8rem;
    display: grid;
    grid-template-columns: 45rem auto;
}

.hero__col2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
}

.hero__text {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-top: 1.5rem;
}

.location__line {
    width: 251px;
    height: 0px;
    /* background-color: rgba(184, 184, 184, 1); */
    border: 0.4px solid #B8B8B8;
}

.hero__location {
    border: none;
}

.input__icons {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.input__icons span {
    width: 1.25rem;
    height: 1.25rem;
}

.input__icons input:focus {
    border: none;
    outline: none;
}

@media (max-width:1200px) {
    .hero__col2 {
        display: none;
    }
}